body {
  font-family: 'Microsoft YaHei','微软雅黑', Helvetica, Sans-serif;
  padding-bottom: 40px;
};

* {
  margin: 0;
  padding: 0;
}

/* CDUG Expert 
-------------------------------------------------- */

.expert-wrapper {
  box-shadow: -5px 0 12px -5px gray, 
              5px 0 12px -5px gray;
  padding-top: 10px;
  background: url(../../img/expert_back.jpg) no-repeat;
  color: #5a5a5a;
  overflow: hidden;
}

.expert-wrapper h1 {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.expert-wrapper .byline {
  text-align: center;
  color: #ccc;
  font-size: 16px;
}

.s-expert {
  float: left;
  margin: 30px 0 0 35px;
  background: rgba(0,0,0,0.4);
}

.expert-list {
  height: 220px;
  width: 420px;
  overflow: hidden;
  display: block;
  color: #D8DAE1;
}

.expert-list li {
  font-size: 12px;
  margin: 0 10px 0 10px;
  overflow: hidden;
  word-wrap:break-word;
  display: block;
}

.expert-list li h4 {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  display: block;
}

.expert-list li h4 a {
  color: #FFCB00;
}

.expert-list img {
  margin: 30px 10px 0 10px;
  padding: 5px;
  border: 1px solid gray;
}

.expert-list strong {
  font-size: 14px;
  margin-bottom: 
}

.expert-list .expert-profile {
  max-height: 95px;
  overflow: hidden;
}

.expert-list .expert-konwmore {
  float: right;
  margin: 15px 5px 0 0;
}

.expert-pagination {
  margin: 50px auto;
  text-align: center;
}

/* single expert information (expinfo)
-------------------------------------------------- */

.sexp-wrapper {
  min-height: 700px;
  box-shadow: -5px 0 12px -5px gray, 
              5px 0 12px -5px gray;
}

.sexp-wrapper .sexp-inner {
  margin: 0 10%;
  width: 80%;
}

.sexp-inner .sexp-name {
  padding: 10px 20px 0 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.sexp-name h1 {
  font-size: 28px;
}

.sexp-inner .sexp-photo {
  width: 272px;
  height: 375px;
  margin-left: 20px;
  padding: 2px;
  box-shadow: 0 0 5px #0772A1;
  float: left;
}

.sexp-inner .sexp-profile {
  float: right;
  width: 380px;
  height: 430px;
  overflow: hidden;
  word-wrap:break-word;
  box-shadow: 0 0 12px #c0c0d5 inset;
  margin-right: 20px;
  padding: 5px 15px;
}

.sexp-profile p {
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}

/*  CDUG index
    -------------------------------------------------- */
.grid-990 {
  width: 960px;
  margin: 0 auto;
}
.topbar {
  width: 100%;
  height: 26px;
  border-bottom: 1px solid #dcdcdc;
  color: #666;
}

.topbar p {
  line-height: 14px;
}

.topbar a {
  color: #666;
}

.topbar .topbar-wrapper {
  padding: 6px 0;
}

.topbar .topbar-wrapper .topbar-title {
  width: 300px;
  float: left;
}

.topbar .topbar-menu {
  float: right;
  position: relative;
  z-index: 1000;
}

.topbar .topbar-menu li {
  line-height: 14px;
}

.index-header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.index-header .logo-wrapper {
  padding: 5px 0;
  width: 320px;
}

.index-header .ui-logo {
  width: 290px;
  height: 60px;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url(../../img/sse_logo_mini.png);
}

.index-header .iheader-wrapper {
  height: 60px;
  padding-top: 18px;
}

.index-header .index-nav {
  float: right;
  position: relative;
  z-index: 1000;
}

.index-header .index-nav .nav-item {
  display: block;
  float: left;
  width: 90px;
  height: 45px;
}

.index-header .index-nav .nav-item a {
  display: block;
  float: right;
  color: #67615B;
  line-height: 25px;
  padding: 9px 0;
  font-size: 1.2em;
  font-weight: 600;
}

.nav-item #index {
  color: #2668b4;
}

.index-header .index-nav .nav-item a:hover {
  color: #2668b4;
  text-decoration: none;
}


.footer {
  overflow: hidden;
  clear: both;
  width: 100%;
  margin: 0 auto;
  font-size: 0.9166666666666667em;
  color: #aaa;
  background-color: #ededed;
  overflow: hidden;
  position: relative;
}

  .footer a {
    color: #aaa;
  }

  .footer .footer-headline {
    height: 20px;
    background-repeat: repeat-x;
    background-image: url(../../img/footer-headline.png);
  }

  .footer #footer-bg {
  background: url(images/footer-bg.png) repeat left top;
  width: 960px;
  margin: 0 auto;
  }

  .footer #footer-inner {
  max-width: 940px;
  margin-left: 170px; 
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  }

    .footer #footer-inner .first {
    padding-left: 0;
    }
    
    .footer #footer-inner h4 {
    	color: #8a8a8a;
    	font-size: 14px;
    	font-weight: 600;
    }

    .footer #footer-inner .inner-block {
    width: 22%;
    min-height: 150px;
    padding: 0 2%;
    float: left;
    background: url(images/footer-line.png) repeat-y right top;
    position: relative;
    }

    .footer #footer-inner .inner-block .inner-con {
    font-size: 12px;
    line-height: 1.68;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #8a8a8a;
    }

    .footer #footer-inner .inner-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }


/* CDUG 
--------------------------------------------------*/

#head {
  margin: 5px 0 3px;
}

#h-logo {
  float: left;
  margin: 10px 0 5px;
}

#h-logo a {
  display: block;
  text-indent: -9999em;
  background: url(../../img/sse_logo_mmini.png);
  outline: none;
  width: 205px;
  height: 42px;
}

#h-meta {
  float: right;
  color: #bbb;
}

#h-meta a {
  color: #545544;
}

.navbar .container {
  width: 940px;
}

.cdug-header {

}

/* logon modal
-------------------------------------------------- */

.my-modal {
  width: 400px;
}


/* CDUG news
-------------------------------------------------- */

.news-wrapper {
  margin-left: 0px;
  box-shadow: -5px 0 12px -5px gray,  
              5px 0 12px -5px gray;
  min-height: 700px;
}

.news-list-title {
  border-bottom: 4px solid #0B2C8D;
  width: 100%;
}

.news-list-title h1 {
  padding: 0 10px 0 10px;
  display: block;
  font-size: 24px;
}

.news-list-wrapper {
  /*border-right: 2px solid #ccc;*/
  padding: 10px 0px 0 0px;
  margin-left: 0;
  box-shadow: 5px 0 15px -5px #c0c0d5;
  min-height: 700px;
}

.news-pagination {
  float: right;
  padding: 0px 20px 0 0;
}

.news-control {
  padding: 30px 0 0 15px;
}

.news-control select {
  margin-top: 20px;
  width: 245px;
}

.news-list {
  margin: 10px 0px 0 10px;
  height: 135px;
  width: 600px;
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 2px solid #c5ceea;
}

.news-list li {
  display: block;
  font-size: 12px;
  margin-right: 10px;
  color: #666;
}

.news-list li h4 {
  font-size: 15px;
  color: #0066b3;
  margin:0 0 8px 0;
  line-height: 16px;
}

.news-list li strong {
  font-size: 13px;
  color: #ff4e00;
  margin-bottom: 10px;
}

.news-list img {
  padding: 2px;
  border: 1px solid #ccc;
}

/* single news page (newspage)
-------------------------------------------------- */

.snews-wrapper {
  min-height: 700px;
  box-shadow: -5px 0 12px -5px gray, 
              5px 0 12px -5px gray;
}

.snews-wrapper .snews-inner {
  margin-left: 0;
  min-height: 700px;
  box-shadow: 5px 0 15px -5px #c0c0d5;
}

.snews-wrapper .snews-title {
  padding: 10px 0;
  box-shadow: 0 5px 15px -5px #c0c0d5;
}

.snews-title h1 {
  padding: 0 10px 0 10px;
  font-size: 24px;
  font-weight: 600;
}

.snews-title strong {
  padding: 0 10px 0 10px;
  font-size: 13px;
  color: #ff4e00;
  margin-bottom: 10px;
}

.snews-content {
  padding: 20px 10px 10px 10px;
}

/* CDUG resource
-------------------------------------------------- */

.content-wrapper {
  background-repeat: no-repeat;
}

.resource-wrapper {
  box-shadow: -5px 0px 12px -6px gray, 
              5px 0px 12px -6px gray;
  padding-top: 10px;
  min-height: 700px;
  overflow: hidden;
}

.resource-wrapper .r-byline {
  margin: 26px 0 0 10px;
  padding: 0 0 0 10px;
  color: #aaa;
  font-size: 12px;
  display: block;
}

.resource-wrapper h1 {
  padding: 0 10px 0 10px;
  font-size: 24px;
  display: block;
  float: left;
}

.resource-wrapper #r-title {
  margin: 0;
  border-bottom: 4px solid #0B2C8D;
}

.resource-wrapper .r-tab {
  padding: 15px 0 0 10px;
}

.r-tab .nav {
  margin-bottom: 10px;
}

.resource-wrapper #rcategory-title {
  border-top: 1px solid #0772A1;
  border-left: 1px solid #0772A1;
  box-shadow: 3px 3px 5px #0772A1;
  text-align: center;
  padding: 8px 0 8px 0;
  margin: 10px;
}

.resource-table table {
  margin: 10px;
  width: auto;
  overflow: hidden;
}

.resource-wrapper .r-pagination {
  bottom: 10%;
  text-align: center;
}

/* CDUG signup
-------------------------------------------------- */

.signup-wrapper {
  box-shadow: -5px 0px 12px -6px gray, 
              5px 0px 12px -6px gray;
  padding-top: 10px;
  min-height: 700px;
  overflow: hidden;
}

.signup-wrapper #s-title {
  margin: 0;
  border-bottom: 4px solid #0B2C8D;
}

.signup-wrapper .s-byline {
  margin: 26px 0 0 10px;
  padding: 0 0 0 10px;
  color: #aaa;
  font-size: 12px;
  display: block;
}

.signup-wrapper h1 {
  padding: 0 10px 0 10px;
  font-size: 24px;
  float: left;
  display: block;
}

.signup-wrapper .signup-form {
  padding: 10px 0;
}

.signup-wrapper .sform-inner {
  margin: 0 5px 10px 5px;
  padding: 5px;
}

.signup-wrapper label {
  font-weight: 600;
}

.sform-active {
  background-color: #92a7be;
}

.signup-wrapper strong {
  margin-left: 22px;
}

.signup-wrapper
.btn-controls {
  display: block;
  margin-bottom: 5px;
}

.signup-wrapper
.btn-controls .btn-after {
  margin-right: 4px;
}

.signup-wrapper .s-inputfield {
  padding-top: 10px;
}

.signup-wrapper .s-leftlabel {
  width: 140px;
}

.signup-wrapper .s-rightlabel {
  width: 45px;
}

.s-inputfield .s-rightcontrol {
  margin-left: 65px;
}

.s-inputfield .s-leftcontrol {
  width: 350px;
  margin-left: 160px;
}

.s-inputfield .s-singlelabel {
  width: 140px;
}

.s-inputfield .s-singlecontrol {
  width: 600px;
  margin-left: 160px;
}

.signup-wrapper .sf-submit {
  margin-top: 30px;
  text-align: center;
}

.sf-submit button {
  width: 80px;
  height: 35px;
}

.signup-wrapper .s-addform {
  margin: 10px 0 0 10px;
}

/* CDUG register and logon
-------------------------------------------------- */

.rl-wrapper {
    min-height: 500px;
    padding: 10px 15% 0 15%;
    background-color: #ffffff;
}

.rl-wrapper #r-title {
  margin: 0;
  border-bottom: 4px solid #b8b8b8;
}

.rl-wrapper #r-title h1 {
  padding-top: 10px;
  font-size: 24px;
  display: block;
}

.rl-wrapper .r-inner {
  min-height: 350px;
  padding-top: 40px;
  box-shadow: -5px 0px 12px -5px #c0c0d5, 
              5px 0px 12px -5px #c0c0d5, 
              0px 5px 12px -5px #c0c0d5;
}

.rl-wrapper .l-inner {
  min-height: 230px;
  padding-top: 40px;
  box-shadow: -5px 0px 12px -5px #c0c0d5, 
              5px 0px 12px -5px #c0c0d5, 
              0px 5px 12px -5px #c0c0d5;
}

.rl-wrapper .control-group {
  padding: 10px 0;
}

.rl-wrapper .control-group label {
  font-weight: 600;
  font-size: 16px;
  color: #394667;
}

.rl-wrapper button {
  line-height: 26px;
  width: 100px;
  text-align: center;
}

.rl-wrapper a {
  color: gray;
  padding-left: 20px;
}

/* CDUG success page
-------------------------------------------------*/
.success-wrapper {
  min-height: 500px;
  padding: 10px 15% 0 15%;
  background-color: #ffffff;
}

.success-wrapper .success-inner {
  width: 450px;
  height: 120px;
  padding: 40px 20px 20px 90px;
  margin: 140px 50px;
  box-shadow: 0 0 12px #c0c0d5;
}

.success-inner h3 {
  color: #2668b4;
  font-weight: 500;
  font-size: 22px;
  padding-bottom: 10px;
}

.success-inner a {
  color: gray;
}


/* CDUG Conference 
-------------------------------------------------*/
h2.ibm-rule, h3.ibm-rule, ul.ibm-rule, ol.ibm-rule {
border-top: 2px solid #666;
padding-top: 6px;
margin-top: 10px !important;
}
