body {
    line-height: 1
}

*	 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent
}
.container {
	margin: 0 auto;
	width: 960px;
}

#main-cont {
	padding-top: 30px;
}

a.btn_green {
	width: 178px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 0 #454545;
	font-size: 18px;
	line-height: 56px;
	height: 56px;
	display: block;
	height: 100%;
	background: url(../images/site/btn_green.png) center top no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	text-decoration: none;
}

a.btn_green:hover {
	background-image: url(../images/site/btn_green_hover.png);
}

a.btn_green:active {
	background-image: url(../images/site/btn_green_selected.png);
}

/*header*/
#header {
	position:relative;
	width:960px;
	height:95px;
	margin:0 auto;
	background:none;
	z-index:999;
}

#header .logo {
	cursor: pointer;
	display: block;
	float: left;
	height: 68px;
	width: 350px;
}

#header .top-figure {
	float: left;
	padding: 23px 0 0px 0;
}
#header .logo img{
	  width: auto\9;
	  height: auto;
	  max-width: 100%;
	  vertical-align: middle;
	  border: 0;
	  -ms-interpolation-mode: bicubic;
	}

#header .logo span {
	display: none;
}

#header .action {
	margin: 0;
	margin-top: -8px;
	width: 150px;
	height: 39px;
	background:url(../../img/login-1.png) 74px 6px no-repeat #307fc1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 8px;
	float: right;
	display: inline;
}

#header .action>li {
	color: #bfe6ff;
	width: 75px;
	background-image: none;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
}

#header .action>li>a {
	color: #bfe6ff;
	text-align: center;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 45px;
	height: 39px;
	vertical-align: middle;
}

#header .top-nav {
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	display: block;
}

#header .top-nav>li {
	background-image: none;
	float: left;
	list-style-type: none;
	margin: 0px 0 0 30px;
	padding: 0;
	position: relative;
	vertical-align: middle;
	/*border-right: 2px solid #abdeff;*/
}

.top-nav>li#home,.top-nav>li#teaching,.top-nav>li#docs,.top-nav>li#blog {
	width: 40px;
}

/*#header .top-nav > li:last-child{ border-right: none; }*/
#header .top-nav>li>a {
	color: #ffffff;
	display: block;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

#header .top-nav>li>a:hover {
	color: #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

#header .top-nav>li>.active {
	color: #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

#header .top-nav>li>a.selected {
	border-bottom: 2px solid #9fef0f;
}

#header .top-nav>li>span {
	color: #abdeff;
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	position: relative;
	vertical-align: middle;
	text-align: center;
}
/* end of header */

/* page body */
h1.container {
	height: 50px;
	margin: 50px auto 20px auto;
	font: bold 45px/55px "Microsoft YaHei", Arial, sans-serif, "黑体";
	color: #134b83;
	text-shadow: 1px 1px 0 #ffffff;
}
/* end of page body */

/*  ===================footer====================== */

/* ============footer end ==================== */

#index {
    width: 100%;
    height: 426px;
	background:url(../../img/cloud1.png) no-repeat -150px bottom;
    background-color: #bad9ee;
    position: relative;
}

#index>.container {
    height: 100%;
	background:url(../../img/cloud.png) no-repeat 500px bottom;
}

#desc {
    float: left;
    width: 450px;
    margin-left: 40px;
    margin-top: 110px;
    display: inline;
    clear: both;
}

#desc img {
    margin: 0;
}

#desc p {
    width: 420px;
    font: 15px/1.5 Arial, ​Helvetica, ​simsun, ​u5b8bu4f53;
    color: black;
    margin-top: 10px;
}

#desc .btn_green {
    margin: 20px 0 0 100px;
}

#desc .quickBtn {
    
}

#desc .quickBtn li {
    float: left;
    width: 140px;
    height: 46px;
    margin-left: 50px;
}

#frontCloud {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 426px;
    background: url(../images/site/cloud.png) repeat-x 50% bottom transparent;
}

ul#introduce {
    list-style: none;
}

ul#guide li {
    width: 320px;
    min-height: 80px;
    float: left;
    margin-top: 30px;
}

ul#guide li>.title {
	margin-left: 20px;
    width: 280px;
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px dashed #4f4f4f;
    color: #134b83;
    float: left;
}

ul#guide li>.desc {
	margin-left: 20px;
    font-size: 12px;
    line-height: 22px;
    margin-top: 10px;
    width: 280px;
    color: #4f4f4f;
    display: inline;
    float: left;
}

ul#introduce {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3), inset 0 1px 0
        rgba(255, 255, 255, .2);
    background: #fff;
    border: 1px solid rgb(150, 150, 150);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    min-height: 200px;
    max-height: 410px;
    margin-top: 60px;
}

ul#introduce li {
    margin: 30px 0 0 30px;
    width: 435px;
    min-height: 0px;
    float: left;
}

ul#introduce li>img {
    margin: 0;
    width: 88px;
    height: 88px;
    float: left;
}

ul#introduce li>.function {
    float: left;
    width: 335px;
    margin-left: 12px;
    line-height: 30px;
    font-size: 14px;
}

ul#introduce li>.function>h2 {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    color: #225c95;
}

ul#introduce li>.function>h3 {
    font-size: 14px;
    margin: 0;
    color: #75be3c;
}

ul#introduce li>.function>p {
    font-size: 13px;
    line-height: 22px;
    line-height: 25px;
}

#footer {
	font-size: 12px;
    margin-top: 75px;
	width: 100%;
	color: #aaa;
	background-color: #ededed
}

#footer .f-headline {
	height: 20px;
	background-repeat: repeat-x;
	background-image: url(../../img/footer-headline.png);
}
#footer ul.footer-links{
	margin-left: 160px;
}
#footer ul.footer-links>li {
    float: left;
    width: 150px;
    display: inline;
}
#footer ul.footer-links>li {
    float: left;
    width: 150px;
    display: inline;
}
#footer ul.container {
	position: relative;
	width: 960px;
	z-index: 5;
	padding: 10px 0 10px 0;
}
#footer ul.footer-links>li.contacts,
#footer ul.footer-links>li.keeptouch {
    width: 190px;
}

#footer ul.footer-links>li h3 {
    font-size: 16px;
    /*background:url(../../img/footer-line.jpg) left bottom repeat-x;*/
    padding-bottom: 15px;
    font-weight: normal;
}
#footer ul.footer-links>li>div {
	letter-spacing: 1px;
	line-height: 20px;
}

#footer .copyright {
	padding: 15px 0;
	text-align: center;
}

#footer a {
	color: #aaa;
}

#footer a.highlight {
	color: #aaaaaa;
	text-decoration: none;
}

#footer a:hover {
	color: #aaa;
	text-decoration: underline;
}

#footer  .contact{
 background-color: #0c3866;
 text-align: center;
 padding: 13px;
 font-size: 24px;
 font-weight: bold;
 font-family: '黑体';
}
#layout.container {
    padding-top: 30px;
    padding-bottom: 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #bfd9e6;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .2);
}


.right_content {
    padding: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.two-thirds {
    width: 350px;
}

.one-third {
    width: 200px;
}



  /* --------------end------------- */  

