@charset "utf-8";
/* CSS Document */

#contents {
float: left;
width: 740px;
margin-left: 30px;
}

#coursehomeimg{
			height:10px;
			width:50px;
}
	
div.link-cont {
	overflow:hidden;
	width:740px;
	margin-top:9px;
}
	div.link-cont ul {
		width:740px;
		margin-top:-1px;
	}
		div.link-cont ul li {
			overflow:hidden;
			width:740px;
			padding:25px 0 32px 0;
			
		}
			div.link-cont ul li h4 {
				float:left;
				width:156px;
				padding-left:19px;
				
			}
			div.link-cont ul li div {
				float:left;
				width:565px;
			}
				div.link-cont ul li div p {
					color:#5b6066;
				}
					div.link-cont ul li div p.link {
						margin-top:10px;
					}
						div.link-cont ul li div p.link strong {
							display:inline-block;
							padding-right:7px;
							background:url('../images/common/icon/bl_link_in.gif') no-repeat 100% 1px;
							font-size:0;
							line-height:0;
						}
						   
						div.link-cont ul li div p.link a {
							padding-left:3px;
							font-size:11px;
							font-family:Arial;
							color:#e78d00;
							text-decoration:underline;
						}
						
div.link-cont-type2 {
	margin-top:30px;
	background:url('../images/intro/bg_affiliate.gif') no-repeat 100% -20px;
}
		div.link-cont-type2 ul li {
			border-top: none;
			padding: 20px 0;
			color: #1b1b1b;
			display: table;
			border-bottom: 1px solid #ccc;
		}
			div.link-cont-type2 ul li.el-last {
				border: none;
			}
			div.link-cont-type2 ul li h4 {
				font-size: 18px;
				color: #2668b4;
				width:175px;
				line-height: 26px;
				padding: 0 15px 0 0;
			}
			div.link-cont-type2 ul li div {
				width:550px;
			}
				div.link-cont-type2 ul li div h5 {
					font-size: 14px;
					padding-bottom: 3px;
					line-height: 18px;
					font-weight: 500;
				}
				div.link-cont-type2 ul li div p.link a {
					padding-left:3px;
					font-size:13px;
					font-family:Arial;
					color:#69717a;
					text-decoration:underline;
				}

.h3-location {
width: 100%;
overflow: hidden;
}

.commitment {
margin-top: 50px;
}

.location {
float: right;
font-size: 11px;
}

.location em {
margin-left: 2px;
padding-left: 10px;
background: url('../images/common/icon/bl_location_in.gif') no-repeat 0 3px;
color: #4ea0ff;
}

.location a {
margin-left: 2px;
padding-left: 10px;
background: url('../images/common/icon/bl_location_in.gif') no-repeat 0 3px;
color: #979797;
}

.location .home {
padding-left: 7px;
background: url('../images/common/icon/bl_location_dot.gif') no-repeat 0 6px;
}

a {
color: #555f60;
text-decoration: none;
}

#container {
position: relative;
width: 960px;
margin: 0 auto 0;
z-index: 5;
padding: 35px 0 70px 0;
}

.commitment div {
overflow: hidden;
width: 100%;
padding-bottom: 85px;
}

.commitment div h4 {
float: left;
width: 176px;
}

.commitment table {
	border-collapse:collapse;
	border: 1px solid #ddd;
}

.commitment th, td {
	border: 1px solid #ddd;
	padding: 5px 10px;
}


#lnb {
float: left;
width: 190px;
}

#lnb h2 {
margin-top: 8;
padding: 0;
font-size: 0;
}

#lnb span.lnb-vs {
display: block;
margin-top: 15px;
}

.m-lnb {
width: 179px;
border-bottom: 1px solid #d7dde4;
font-size: 0;
line-height: 0;
overflow: hidden;
}

.m-lnb li.first {
border: none;
}

.m-lnb li {
border-top: 1px solid #d7dde4;
}

.m-lnb li a {
display: block;
margin: 0;
padding: 0;
font-size: 0;
}

#container:after {
content: "";
clear: both;
display: block;
width: 0;
height: 0;
font-size: 0;
line-height: 0;
}

.half_word {
float: left;
}
.tea_brief .right {
margin-left: 40px;
}

.message {
width: 100%;
margin-top: 33px;
}

/* teaching sidebar
--------------------------------------------------*/
#teacher .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_m01_off.gif");
}

#teacher .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_m01_on.gif");
}

#excellent .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_m03_off.gif");
}

#excellent .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_m03_on.gif");
}

#research .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_m04_off.gif");
}

#research .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_m04_on.gif");
}

#course .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_m05_off.gif");
}

#course .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_m05_on.gif");
}

#textbook .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_m06_off.gif");
}

#textbook .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_m06_on.gif");
}

#expert .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_m07_off.gif");
}

#expert .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_m07_on.gif");
}

/* research sidebar
--------------------------------------------------*/
#contest .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_n01_off.gif");
}

#contest .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_n01_on.gif");
}

#inresearch .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_n02_off.gif");
}

#inresearch .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_n02_on.gif");
}

/* club sidebar
--------------------------------------------------*/
#intro .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_c01_off.png");
}

#intro .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_c01_on.png");
}

#news .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_c02_off.png");
}

#news .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_c02_on.png");
}

#c-contest .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_c03_off.png");
}

#c-contest .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_c03_on.png");
}

#innovation .nav-item-link {
	height: 33px;
	display: block;
	background-image: url("../../img/teaching/lnb_c04_off.png");
}

#innovation .active {
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_c04_on.png");
}

/* server sidebar
--------------------------------------------------*/
#server .nav-item-link {
	height: 33px;
	display: block;
	border-top: 1px solid rgb(84, 153, 227);
	background-image: url("../../img/teaching/lnb_r04_on.gif");
}
